html, body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    height: 100vh;
}
body {
    background-color: black;
    background-image: url('../assets/img/wallpaper002.jpg');
    background-repeat: repeat-y; 
    background-attachment: scroll;
    background-position: right bottom;
    background-size: cover;
    
    /* background: black url('imagens/wallpaper002.jpg') no-repeat fixed center center; */
}

main {
    background-color: white;
    width: 400px;
    margin: auto;
    padding: 10px;
}