/* Estilo geral */

/* Variáveis de cores */
:root {
  --color-background: rgb(37, 36, 36);
  --color-text: #eaeaea;
  --color-primary: #fd9800;
  --color-secondary: #9b9b9b;
  --color-overlay: rgba(0, 0, 0, 0.582);
  --color-dark-overlay: rgba(0, 0, 0, 0.7);
}

/* Tema claro */
.light-mode {
  --color-background: #ffffff;
  --color-text: #333333;
  --color-primary: #fd9800;
  --color-secondary: #666666;
  --color-overlay: rgba(255, 255, 255, 0.8);
  --color-dark-overlay: rgba(255, 255, 255, 0.7);
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: var(--color-background);
  color: var(--color-text);
  height: 100vh;
}

.interface {
  max-width: 1200px;
  margin: 0 auto;
}

.flex {
  display: flex;
}

.btn-contato button {
  padding: 10px 40px;
  font-size: 18px;
  font-weight: 600;
  background-color: var(--color-primary);
  border: 0;
  border-radius: 30px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

h2.titulo {
  color: var(--color-text);
  font-size: 38px;
  text-align: center;
}

h2.titulo span {
  color: var(--color-primary);
}

button:hover,
form .btn-enviar input:hover {
  box-shadow: 0px 0px 8px var(--color-primary);
  transform: scale(1.05);
}

/* Estilo do cabeçalho */
.menu-toggle {
  display: none;
  font-size: 2rem;
  color: var(--color-text);
  cursor: pointer;
}

header {
  position: fixed;
  width: 100%;
  z-index: 1;
}

header > .interface {
  padding: 10px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--color-background);
}

header a {
  color: var(--color-secondary);
  text-decoration: none;
  display: inline-block;
  transition: all 0.3s ease-in-out;
}

header a:hover {
  color: var(--color-text);
  transform: scale(1.05);
}

header nav ul {
  list-style-type: none;
}

header nav ul li {
  display: inline-block;
  padding: 0px 40px;
}

/* Botão de alternância de tema */
.toggle-theme {
  display: flex;
  align-items: center;
}

#theme-toggle {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 24px;
  color: var(--color-text);
  transition: transform 0.3s ease-in-out;
}

#theme-toggle:hover {
  transform: scale(1.1);
}


/* Estilo do topo do site */
section.topo-do-site .flex {
  padding: 100px 4%;
  align-items: center;
  justify-content: center;
  gap: 90px;
}

.topo-do-site h1 {
  color: var(--color-text);
  font-size: 46px;
  line-height: 40px;
}

.topo-do-site .txt-topo-do-site h1 span {
  color: var(--color-primary);
}

.topo-do-site .txt-topo-do-site p {
  color: var(--color-text);
  margin: 40px 0px;
}

.topo-do-site .img-topo-site img {
  position: relative;
  animation: flutuar 2s ease-in-out infinite alternate;
  border-radius: 50%;
  width: 500px;
  height: 500px;
}

@keyframes flutuar {
  0% {
    top: 0;
  }
  100% {
    top: 30px;
  }
}

/* Estilo das especialidades */
section.especialidades {
  padding: 80px 4%;
}

section.especialidades .flex {
  display: grid;
  gap: 60px;
  align-items: center;
  grid-template-columns: repeat(5, 1fr);
}

.especialidades .especialidades-box {
  display: flex;
  width: 180px;
  height: 180px;
  color: var(--color-text);
  padding: 40px;
  margin-top: 45px;
  border-radius: 20px;
  transition: all 0.3s ease-in-out;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.especialidades .especialidades-box:hover {
  transform: scale(1.1);
  background-color: var(--color-primary);
  color: black;
  box-shadow: 0 0 15px var(--color-primary);
}

.especialidades .especialidades-box img {
  height: 60px;
  width: 60px;
}

.especialidades .especialidades-box h3 {
  font-size: 28px;
  margin: 15px 0;
}

/* Estilo do sobre */
section.sobre {
  padding: 80px 4%;
}

section.sobre .flex {
  align-items: center;
  gap: 60px;
}

.sobre .txt-sobre {
  color: var(--color-text);
}

.sobre .txt-sobre h2 {
  font-size: 40px;
  line-height: 40px;
  margin-bottom: 30px;
}

.sobre .txt-sobre h2 span {
  color: var(--color-primary);
  display: block;
}

.sobre .txt-sobre p {
  margin: 20px 0;
  text-align: justify;
}

.btn-social button {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: none;
  background-color: var(--color-primary);
  font-size: 22px;
  cursor: pointer;
  margin: 0 10px;
  transition: all 0.3s ease-in-out;
}

.btn-social button:hover {
  transform: scale(1.1);
  box-shadow: 0 0 10px var(--color-primary);
}

/* Estilo do portfólio */
.portifolio {
  position: relative;
  padding: 80px 4%;
  max-width: 100%;
  margin: 0 auto;
  box-shadow: 0 0 20px 5px var(--color-secondary);
}

.portifolio .interface {
  position: relative;
}

.carousel {
  padding: 40px 0;
  display: flex;
  flex-flow: row nowrap;
  overflow: hidden;
}

.carousel .flex {
  display: flex;
  transition: transform 1s cubic-bezier(0.25, 1, 0.5, 1); /* Efeito suave */
  gap: 20px;
}


.img-port {
  width: 385px;
  height: 460px;
  background-size: cover;
  background-position: 0% 100% 0% 0%;
  transition: all 0.8s ease-in-out;
  cursor: pointer;
  border-radius: 40px;
  position: relative;
}

.img-port:hover {
  background-position: 100% 100%;
}

.orvelay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--color-overlay);
  border-radius: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  font-weight: 600;
  color: var(--color-text);
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.orvelay:hover {
  opacity: 1;
}

.arrow-left,
.arrow-right {
  z-index: 1;
  position: absolute;
  top: 50%;
  font-size: 2rem;
  width: 40px;
  height: 40px;
  text-align: center;
  color: var(--color-text);
  cursor: pointer;
  border: 2px solid var(--color-primary);
  border-radius: 50%;
  background-color: var(--color-dark-overlay);
  transition: all 0.3s ease-in-out;
}

.arrow-right {
  right: 10px;
}

.arrow-left {
  left: 10px;
}

.arrow-left:hover,
.arrow-right:hover {
  transform: scale(1.1);
  box-shadow: 0 0 10px var(--color-primary);
}

/* Estilo do formulário */
section.formulario {
  padding: 80px 4%;
}

form {
  max-width: 500px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  margin-top: 40px;
}

form input,
form textarea {
  width: 100%;
  background-color: var(--color-secondary);
  border: none;
  outline: none;
  padding: 20px 15px;
  border-radius: 15px;
  color: var(--color-text);
  font-size: 18px;
}

form textarea {
  resize: none;
  max-height: 200px;
}

form .btn-enviar {
  margin-top: 20px;
  text-align: center;
}

form .btn-enviar input {
  width: 120px;
  background-color: var(--color-primary);
  color: black;
  cursor: pointer;
  font-weight: 700;
  transition: all 0.3s ease-in-out;
}

form .btn-enviar input:active {
  transform: scale(0.95);
  box-shadow: 0px 0px 5px var(--color-primary) inset;
}

/* Estilo do rodapé */
footer {
  padding: 60px 4%;
  box-shadow: 0 0 20px 5px var(--color-secondary);
}

footer .flex {
  justify-content: space-between;
}

footer .line-footer {
  padding: 20px 0;
}

.borda {
  border-top: 2px solid var(--color-primary);
}

footer .line-footer p i {
  color: var(--color-primary);
  font-size: 22px;
}

footer .line-footer p a {
  color: var(--color-text);
}

footer .line-footer p a:hover {
  color: var(--color-primary);
}
