* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.6rem; /* 1rem = 10px */
    background: linear-gradient(135deg, var(--gray-900), var(--gray-800));
    color: var(--text-default);
}

.form {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 2.4rem;   
}

.formRow {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 2.4rem;   
}